#js-api-demo {
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
}
#line1 {
  width: 100%;
  justify-content: space-between;
}
#storage {
  width: 45%;
  flex-direction: column;
}
#getStorage {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  text-align: center;
  background-color: #f81c59;
  font-family: operator mono;
}
#setStorage {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  text-align: center;
  background-color: #f8e71c;
  margin-top: 10px;
  font-family: operator mono;
}
#removeStorage {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  text-align: center;
  background-color: #f8e71c;
  margin-top: 10px;
  font-family: operator mono;
}
#tips {
  width: 45%;
  flex-direction: column;
}
#showAlert {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  text-align: center;
  background-color: #1c38f8;
  font-family: operator mono;
}
#showDialog {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  text-align: center;
  background-color: #f8e71c;
  margin-top: 10px;
  font-family: operator mono;
}
#showToast {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  text-align: center;
  background-color: #f8e71c;
  margin-top: 10px;
  font-family: operator mono;
}
#line2 {
  width: 100%;
  justify-content: space-between;
}
#user {
  width: 45%;
  flex-direction: column;
}
#checkSession {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#login {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#getUserInfo {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#router {
  width: 45%;
  flex-direction: column;
}
#openUrl {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  text-align: center;
  background-color: #f8e71c;
  margin-top: 10px;
  font-family: operator mono;
}
#openAction {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  font-family: operator mono;
  background-color: #f8e71c;
  text-align: center;
  margin-top: 12px;
}
#log {
  width: 100%;
  flex-direction: column;
}
#remoteLog {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#line3 {
  width: 100%;
  justify-content: space-between;
}
#timer {
  width: 45%;
  flex-direction: column;
}
#setInterval {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#clearInterval {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#setTimeout {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#clearTimeout {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#device {
  width: 100%;
  flex-direction: column;
}
#getSystemInfo {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#tool {
  width: 45%;
  flex-direction: column;
}
#md5 {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#urlEncode {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#urlDecode {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#base64Encode {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#base64Decode {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#line5 {
  width: 100%;
  justify-content: space-between;
}
#network {
  width: 45%;
  flex-direction: column;
}
#mtop {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#http {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #f8e71c;
  font-family: operator mono;
}
#custom {
  width: 45%;
  flex-direction: column;
  height: 80px;
}
#showCustomDialog {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  background-color: #f8e71c;
  margin-top: 12px;
  text-align: center;
}
#downloadAdTask {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
  background-color: #f8e71c;
  margin-top: 12px;
  text-align: center;
}
#line6 {
  width: 100%;
  justify-content: space-between;
}
#bindTool {
  width: 45%;
  flex-direction: column;
}
#bindTaobao {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #e02323;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #000000b2;
  font-family: operator mono;
}
#windvane {
  background-color: #f8e71c;
  width: 45%;
  margin-top: 12px;
  justify-content: center;
  align-items: center;
}
#testWindvaneButton {
  text-overflow: ellipsis;
  height: 20px;
  color: #000000;
  font-size: 15px;
  fit-content: true;
}
#line7 {
  width: 100%;
  justify-content: space-between;
}
#setBabyInfo {
  width: 45%;
  flex-direction: column;
}
#babyInfo {
  width: 100%;
  text-overflow: ellipsis;
  height: 30px;
  color: #e02323;
  font-size: 15px;
  margin-top: 12px;
  text-align: center;
  background-color: #e3e216b2;
  font-family: operator mono;
}
#line8 {
  width: 100%;
  height: 100px;
  background-color: #e4e4e4;
}
