#template_text_fitcontent_case_1_lines_1_width_100pt_height_100px {
  width: 100%;
  height: 100px;
  background-color: primaryBackground;
  justify-content: center;
  align-items: center;
}
#text {
  width: 100%;
  height: 100px;
  fit-content:true;
  font-size:20px;
  lines:1;
}
