#harmony-demo {
  width: 100%;
  height: 100px;
  background-color: #e4e4e4;
  justify-content: center;
  align-items: center;
}
#text {
  width: 200px;
  text-overflow: ellipsis;
  height: 50px;
  color: #000000;
  font-size: 15px;
}
