#harmony-demo {
    width: 500px;
    height: 100px;
    background-color: #8FD6E1;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #FF5C8D;
    border-width: 1px;
}

#text {
    width: 300px;
    text-overflow: ellipsis;
    text-align: center;
    height: 50px;
    color: #000000;
    font-size: 15px;
    background-color: #1597BB;
}
