#template_view_property_background_image {
  width: 100%;
  height: 100px;
  background-color: primaryBackground;
  justify-content: center;
  align-items: center;
}
#empty_view {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to bottom, #000000, #ffffff);
}
