#template_event_tap_listener {
  width: 100%;
  height: 100px;
  background-color: primaryBackground;
  justify-content: center;
  align-items: center;
}
#target {
  width: 100px;
  height: 100px;
  background-color: #e4e4e4;
}
