#gx-slider-item {
  width: 100%;
}

#image {
  width: 100%;
  mode: aspectFill;
  aspect-ratio: 1.777;
}

#title {
  text-overflow: ellipsis;
  color: #FFFFFF;
  font-size: 15px;
  fit-content: true;
  position: absolute;
  bottom: 10px;
  left: 5%;
}
