#template_iconfont_property_font_color_default {
  width: 100%;
  height: 100px;
  background-color: primaryBackground;
  justify-content: center;
  align-items: center;
}
#text {
  width: 100px;
  height: 100px;
  font-family:iconfont;
  font-size:20px;
}
