#gx-mutable-scroll-item1 {
  width: 200px;
  height: 150px;
  border-width: 0.5;
  border-radius: 7px;
  border-color: #9e9e9e;
}
#image {
  width: 100px;
  height: 150px;
  background-color: #9e9e9e;
  mode: cover;
}
#text-area {
  width: 100px;
  height: 150px;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
#title {
  width: 100%;
  text-overflow: ellipsis;
  color: #000000;
  font-size: 15px;
  height: 30px;
}
#desc {
  width: 100%;
  text-overflow: ellipsis;
  height: 20px;
  color: #999999;
  font-size: 15px;
  margin-top: 10px;
}
#subscribe-text {
  width: 60px;
  text-overflow: ellipsis;
  font-size: 12px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  border-color: #24a5ff4c;
  border-width: 1px;
  border-style: solid;
  color: #24a5ffff;
  position: absolute;
  bottom: 5px;
}
