#template_text_fitcontent_case_2_lines_5_width_100_percent_height_100px {
  width: 100%;
  height: 100px;
  background-color: primaryBackground;
  justify-content: center;
  align-items: center;
}
#text {
  width: 100%;
  height: 100px;
  fit-content:true;
  font-size:20px;
  lines:5;
}
