#template_text_fitcontent_width_flex_grow {
  width: 100%;
  height: 100px;
  background-color: primaryBackground;
  justify-content: center;
  align-items: center;
}
#text {
  fit-content:true;
  flex-grow:1;
  height: 100px;
  font-size:20px;
  color:#00ff00;
}
