#yk-vip-channel-identityarea {
  width: 100%;
  height: 66px;
  align-items: center;
  background-color:#00ff00;
  justify-content: flex-start;
}
#avatar {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  align-self: center;
}
#titleView {
  height: 100%;
  background-color:#00ff00;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
}
#nameView {
  background-color:#00ff00;
  height: 20px;
  align-items: center;
  flex-shrink: 1;
}
#title {
  text-overflow: ellipsis;
  height: 20px;
  color: #ffdd9a;
  font-size: 14px;
  fit-content: true;
  font-weight: 500;
  flex-shrink: 1;
}
#button {
  height: 30px;
  width:48px;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 16px;
}