#search_component_1011 {
  width: 100%;
  height: 100%;
  background-color: primaryBackground;
  flex-grow: 1;
  align-items: flex-start;
}
#container-view {
  height: 100%;
  flex-grow: 1;
  align-items: flex-start;
  margin-left: 15px;
  margin-right: 15px;
}
#left-view {
  width: 60px;
  height: 60px;
  margin-top: 0px;
}
#avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: primaryFillColor;
  mode: aspectFill;
}
#middle-view {
  height: 100%;
  margin-top: 0px;
  margin-left: 9px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
#title-area {
  flex-grow: 0;
  width: 100%;
  margin-bottom: 2px;
  align-items: center;
}
#title {
  width: 100%;
  text-overflow: ellipsis;
  fit-content: true;
  font-size: 18px;
  color: brandInfo;
  margin-right: 0px;
  lines: 1;
}
#hot-icon {
  width: 28px;
  height: 16px;
  border-radius: 0px;
  mode: aspectFill;
  margin-left: 3px;
}
#sub-title {
  width: 100%;
  text-overflow: ellipsis;
  margin-bottom: 1px;
  color: tertiaryInfo;
  fit-content: true;
  font-size: 12px;
  margin-right: 0px;
  lines: 1;
}
#third-title {
  width: 100%;
  text-overflow: ellipsis;
  color: tertiaryInfo;
  font-size: 12px;
  fit-content: true;
  margin-right: 0px;
  lines: 2;
}
#right-view {
  width: 61px;
  margin-right: 0px;
  background-color: primaryButtonFillColor;
  height: 30px;
  border-radius: 15px;
  align-items: center;
  flex-direction: row;
  margin-left: 9px;
  justify-content: center;
}
#button {
  width: 100%;
  text-overflow: ellipsis;
  margin-left: 9px;
  margin-right: 9px;
  font-size: button_text_m;
  color: primaryButtonInfo;
  fit-content: true;
  text-align: center;
  border-radius: 0px;
  max-width: 66px;
}
