#gx-progress {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

#progress-view1 {
  width: 100%;
  height: 5px;
  margin-top: 20px;
}

#progress-view2 {
  width: 100%;
  height: 5px;
  margin-top: 20px;
}
