#template_text_fitcontent_lines_0_width_100px_height_100px_databinding_fitcontent {
  width: 100%;
  height: 100px;
  background-color: primaryBackground;
  justify-content: center;
  align-items: center;
}
#text {
  width: 100px;
  height: 100px;
  fit-content:true;
  font-size:20px;
  lines:0;
}
