#gx-mutable-scroll-item2 {
  width: 100px;
  height: 150px;
  border-width: 0.5;
  border-radius: 7px;
  border-color: #9e9e9e;
  flex-direction: column;
}
#image {
  width: 100px;
  height: 120px;
  background-color: #9e9e9e;
  mode: cover;
}
#title {
  width: 100px;
  text-overflow: ellipsis;
  height: 30px;
  color: #000000;
  font-size: 15px;
}
