<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GaiaXDemoApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/GaiaXDemo">

        <profileable
            android:enabled="true"
            android:shell="true" />

        <activity
            android:name="com.alibaba.gaiax.demo.fastpreview.GXQRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CaptureTheme" />
        <activity
            android:name="com.alibaba.gaiax.demo.fastpreview.GXFastPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StyleTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".RemoteDataSourceTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".EventTemplateActivity"
            android:exported="true" />
        <activity
            android:name=".TrackTemplateActivity"
            android:exported="true" />
        <activity
            android:name=".DataTemplateActivity"
            android:exported="true" />
        <activity
            android:name=".ContainerTemplateActivity"
            android:exported="true" />
        <activity
            android:name=".NestTemplateActivity"
            android:exported="true" />
        <activity
            android:name=".NormalTemplateActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".list.clicklatency.NestedRecyclerActivity" />

        <activity
            android:name=".list.clicklatency.RecyclerViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.macrobenchmark.target.RECYCLER_VIEW_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".list.clicklatency.ScrollViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.macrobenchmark.target.SCROLL_VIEW_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>