<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alibaba.gaiax.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="com.alibaba.gaiax.demo.fastpreview.GXQRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CaptureTheme" />
        <activity
            android:name="com.alibaba.gaiax.demo.fastpreview.GXFastPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StyleTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".RemoteDataSourceTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".EventTemplateActivity"
            android:exported="true" />
        <activity
            android:name=".TrackTemplateActivity"
            android:exported="true" />
        <activity
            android:name=".DataTemplateActivity"
            android:exported="true" />
        <activity
            android:name=".ContainerTemplateActivity"
            android:exported="true" />
        <activity
            android:name=".NestTemplateActivity"
            android:exported="true" />
        <activity
            android:name=".NormalTemplateActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>