#gx-style-backdrop-filter {
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
#bg_img {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  background-color: #e4e4e4;
  position: absolute;
}
#blur_view {
  backdrop-filter:blur(10px);
  width: 300px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
#blur_text {
  width: 100%;
  text-overflow: ellipsis;
  height: 100%;
  color: #FFFFFF;
  font-size: 15px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}

#blur_view_1 {
  backdrop-filter:blur(10px);
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
   position: absolute;
    left: 0px;
    bottom: 0px;
}
#blur_text_1 {
  width: 100%;
  text-overflow: ellipsis;
  height: 100%;
  color: #000000;
  font-size: 15px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}
