#gx-vertical-item  {
  flex-direction: column;
  width: 100px;
  overflow: flex;
}

#cover-img  {
  background-color:#f7f7f7;
  background-size: cover;
  aspect-ratio: 0.67;
  border-radius: 7px;
  width:100%;
}

#title  {
  color: #000000;
  font-size: 14px;
  margin-top: 9px;
  height: 21px;
  width: 100%;
}

#sub-title  {
  color: #999999;
  font-size: 12px;
  height: 17px;
  width: 100%;
}
